body{
    background-image: url("images/green.jpg");
}
/*ul{*/
    /*margin-top: 20px;*/
/*}*/

/*li{*/
    /*display: inline;*/
    /*width: 200px;*/
    /*padding: 10px 30px;*/
    /*background-color: #fcf6fc;*/
    /*border-radius: 10px;*/
/*}*/

/*li a{*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/

.content{
    display: none;
}

.active-tab{
    background-color: gainsboro;

}

.active-content{
    display: block;
}

.task{
    min-width: 30%;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.task-status{
    background-color: palegreen;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}


.errorTab{
    display: none;
    font-size: 10px;
    color: red;
}


.errorTask{
    display: none;
    font-size: 10px;
    color: red;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 700px){
    .task{
        min-width: 80%;
    }
}
